<tr>
    <td>{{user.Name}} {{user.Surname}}</td>
    <td>{{humanizeSeconds report.ProductiveTime}}</td>
    <td>{{humanizeSeconds report.DistractionsTime}}</td>
    <td>{{humanizeSeconds report.TotalTime}}</td>
</tr>